.profile-pageWrapper {
  display: grid;
  grid-template-columns: 4rem 1fr;
  height: 100vh;
  width: 100vw;
}

.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bar-color);
  border-right: 1px solid var(--border-color);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #b4c8fc;
  }
}

.profile-backIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100%;
  background-color: var(--primary-color);
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding: 3.125rem 30%;
  align-items: center;

  & > header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
  }

  & button {
    width: 12rem;
  }
}

@media (max-width: 920px) {
  .profile-content {
    padding: 3.125rem 10%;
  }
}

.profile-noAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.125rem;
  width: 8.125rem;
  border-radius: 100%;
  background-color: #efefef;

  &:has(input) {
    cursor: pointer;
    position: relative;

    &::before {
      display: flex;
      position: absolute;
      opacity: 0;
      content: "Поменять аватар";
      width: 100%;
      height: 100%;
      border-radius: 100%;
      color: white;
      align-items: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s;
    }

    &:hover {
      &:before {
        opacity: 100;
      }
    }
  }
}

.profile-noAvatar > input {
  all: unset;
  display: none;
  width: 100%;
  height: 100%;
}

.profile-info,
.profile-content > footer {
  width: 100%;
  min-width: 17rem;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 0;
    border-bottom: 1px solid var(--border-color);

    & > [data-value] {
      color: var(--secondary-color);
    }
  }
}

.profile-info input {
  all: unset;

  &[type="password"] {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    text-align: end;
    color: var(--secondary-color);
  }
}

.profile-content > footer > div {
  color: var(--primary-color);
  cursor: pointer;

  &:last-child {
    color: var(--alert-color);
  }
}
