:root {
  --primary-color: #3369f3;
  --primary-hover-color: #0b3ab3;
  --alert-color: #ff2f2f;
  --alert-hover-color: #c70000;
  --border-color: #eaeaea;
  --bar-color: #fbfbfb;
  --secondary-color: #999999;

  --text-size-large: 1.25rem;
  --text-size-medium: 0.75rem;
  --text-size-small: 0.625rem;
}

html {
  font-family: Inter, Impact;
}
