<main>
  <nav>
    <ul class={{styles.navigation-list}}>
      <a href="#" page="login">Login</a>
      <a href="#" page="registartion">Registartion</a>
      <a href="#" page="inputModal">Input Modal</a>
      <a href="#" page="regularFileModal">Regular File Modal</a>
      <a href="#" page="withUploadErrorFileModal">With Upload Error File Modal</a>
      <a href="#" page="withActionErrorFileModal">With Action Error File Modal</a>
    </ul>
  </nav>
</main>