<main>
  <nav>
    <ul class={{styles.navigation-list}}>
      <li>
        <a href="#" page="login">Login</a>
      </li>

      <li>
        <a href="#" page="registartion">Registartion</a>
      </li>

      <li>
        <a href="#" page="chat">Chat</a>
      </li>

      <li>
        <a href="#" page="input_modal">Input Modal</a>
      </li>

      <li>
        <a href="#" page="regular_file_modal">Regular File Modal</a>
      </li>

      <li>
        <a href="#" page="with_upload_error_file_modal">With Upload Error File
          Modal</a>
      </li>

      <li>
        <a href="#" page="with_action_error_file_modal">With Action Error File
          Modal</a>
      </li>

      <li>
        <a href="#" page="profile_show">Profile Show</a>
      </li>

      <li>
        <a href="#" page="profile_edit_credentials">Profile Edti Credentials</a>
      </li>

      <li>
        <a href="#" page="profile_edit_password">Profile Edit Password</a>
      </li>

      <li>
        <a href="#" page="not_found">404 page</a>
      </li>

      <li>
        <a href="#" page="server_error">500 page</a>
      </li>
    </ul>
  </nav>
</main>
