<main>
  <nav>
    <ul class={{styles.navigation-list}}>
      <li>
        <a href="#" page="login">Login</a>
      </li>

      <li>
        <a href="#" page="registartion">Registartion</a>
      </li>

      <li>
        <a href="#" page="chat">Chat</a>
      </li>

      <li>
        <a href="#" page="inputModal">Input Modal</a>
      </li>

      <li>
        <a href="#" page="regularFileModal">Regular File Modal</a>
      </li>

      <li>
        <a href="#" page="withUploadErrorFileModal">With Upload Error File Modal</a>
      </li>

      <li>
        <a href="#" page="withActionErrorFileModal">With Action Error File Modal</a>
      </li>

      <li>
        <a href="#" page="profile">Profile</a>
      </li>

      <li>
        <a href="#" page="notFound">404 page</a>
      </li>

      <li>
        <a href="#" page="serverError">500 page</a>
      </li>
    </ul>
  </nav>
</main>