<label class="{{styles.searchInput-label }}">
  <input class="{{styles.chat-searchInput}}" placeholder="Поиск" />
  <div class="{{styles.searchInput-placeholder}}">
    {{> MagnifierIcon}}
    Поиск
  </div>
</label>